INFLUXD_OPTS="-hostname {{ ansible_hostname }}{% if influxdb_cluster_servers %} -join {% if is_vagrant %}{% for host in groups['all'] if hostvars[host]['ansible_hostname'] != ansible_hostname %}{% if not loop.index > 3 %}{{ hostvars[host]['ansible_hostname'] }}:{{ influxdb_meta_port }}{% if not loop.index > 3 and not loop.last %},{% endif %}{% endif %}{% endfor %}{% endif %}{% if not is_vagrant %}{% for host in groups['influxdb'] if hostvars[host]['ansible_hostname'] != ansible_hostname %}{% if not loop.index > 3 %}{{ hostvars[host]['ansible_hostname'] }}:{{ influxdb_meta_port }}{% if not loop.index > 3 and not loop.last %},{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}"
